@font-face {font-family: cormorantgaramond;src: url(/fonts/CormorantGaramond-Regular.ttf) format('truetype');}
@font-face {font-family: gentiumbookbasic;src: url(/fonts/GentiumBookBasic-Regular.ttf) format('truetype');}
@font-face {font-family: grandstander;src: url(/fonts/Grandstander-Regular.ttf) format('truetype');}
@font-face {font-family: inconsolata;src: url(/fonts/Inconsolata-Regular.ttf) format('truetype');}
@font-face {font-family: josefinsans;src: url(/fonts/JosefinSans-Regular.ttf) format('truetype');}
@font-face {font-family: lato;src: url(/fonts/Lato-Regular.ttf) format('truetype');}
@font-face {font-family: montserrat;src: url(/fonts/Montserrat-Regular.ttf) format('truetype');}
@font-face {font-family: notoserif;src: url(/fonts/NotoSerif-Regular.ttf) format('truetype');}
@font-face {font-family: opensans;src: url(/fonts/OpenSans-Regular.ttf) format('truetype');}
@font-face {font-family: quicksand;src: url(/fonts/Quicksand-Regular.ttf) format('truetype');}
